---
---

@import "minimal-mistakes/skins/air";
@import "minimal-mistakes";

.author__avatar img {
  max-width: 175px;
  border-radius: 50%;
  -webkit-filter: grayscale(0%) !important;
  filter: grayscale(0%) !important;
  opacity: 1 !important;
}

.author__avatar img:hover {
  -webkit-filter: grayscale(0%) !important;
  filter: grayscale(0%) !important;
  opacity: 1 !important;
}

.mentee-avatar {
  width: 175px;
  height: 175px;
  border-radius: 50%;
  object-fit: cover;
  display: block;
  margin-bottom: 10px;
}