---
---

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}";
@import "minimal-mistakes";

.author__avatar img {
  max-width: 175px;
  border-radius: 50%;
  transition: none !important;
  filter: none !important;
  -webkit-filter: none !important;
}

.author__avatar img:hover {
  filter: none !important;
  -webkit-filter: none !important;
}
